# This project analyses and visualizes a Global Food Price Dataset
## Link to the dataset: https://www.kaggle.com/datasets/lasaljaywardena/global-food-prices-dataset?resource=download

In [61]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import datetime

In [42]:
df = pd.read_csv("Data Science Projects\global_food_prices.csv", dtype = {'adm1_id': int,
                                                                          "adm0_id": int,
                                                                          "adm0_name": str, 
                                                                          "mkt_name": str, 
                                                                          "pt_id": int,
                                                                          "cm_name": str,
                                                                          "mp_price": float,
                                                                          "adm1_name": str                                                               
                                                                         })

In [43]:
df2 = df[["adm0_name", "cm_name", "um_name", "cur_name", "mp_month", "mp_year", "mp_price"]]

df2 = df2.rename(columns={"adm0_name": "Country", 
                   "cm_name": "Food Item", 
                   "um_name": "Units", 
                   "cur_name": "Currency", 
                   "mp_month": "Month", 
                   "mp_year": "Year",
                   "mp_price": "Price"
                  })

In [44]:
# df2['Food Item'] = df2['Food Item'].replace(['- Retail', '- Wholesale'], ' ')
# df2.head()


df2['Food'] = df2['Food Item'].str.replace('- Retail', ' ')
df2["Food Item"] = df2["Food"]
df2['Food'] = df2['Food Item'].str.replace('- Wholesale', ' ')

# Lookup function

In [45]:
# df2[df2['Food'].str.contains("Wholesale")]

In [46]:
df2.drop(columns = "Food Item", inplace = True)
df2.head()

       Country Units Currency  Month  Year  Price     Food
0  Afghanistan    KG      AFN      1  2014   50.0  Bread
1  Afghanistan    KG      AFN      2  2014   50.0  Bread
2  Afghanistan    KG      AFN      3  2014   50.0  Bread
3  Afghanistan    KG      AFN      4  2014   50.0  Bread
4  Afghanistan    KG      AFN      5  2014   50.0  Bread

## Filtering for a specific country

In [47]:
# Honduras = df2[df2['Country'].str.contains("Honduras")]
# HD = Honduras.head(5)
# HD

## Converting Month and Year to Datetime format

In [48]:
df2["Date"] = pd.to_datetime(df2['Year'].astype(str)  + df2['Month'].astype(str), format='%Y%m')
df2.drop(columns = {'Month', 'Year'}, inplace = True)
df2

             Country   Units Currency      Price              Food       Date
0        Afghanistan      KG      AFN    50.0000           Bread   2014-01-01
1        Afghanistan      KG      AFN    50.0000           Bread   2014-02-01
2        Afghanistan      KG      AFN    50.0000           Bread   2014-03-01
3        Afghanistan      KG      AFN    50.0000           Bread   2014-04-01
4        Afghanistan      KG      AFN    50.0000           Bread   2014-05-01
...              ...     ...      ...        ...               ...        ...
2050633     Zimbabwe      KG      ZWL   233.3333   Beans (sugar)   2021-06-01
2050634     Zimbabwe  100 ML      ZWL   112.5000      Toothpaste   2021-06-01
2050635     Zimbabwe      KG      ZWL   114.0000    Laundry soap   2021-06-01
2050636     Zimbabwe   250 G      ZWL    59.5000   Handwash soap   2021-06-01
2050637     Zimbabwe      KG      ZWL  1200.0000  Fish (kapenta)   2021-06-01

[2050638 rows x 6 columns]

## Data for each country from beginning of each year

In [ ]:
# filter by single day
# df_filtered = df[df['date'].dt.strftime('%Y-%m-%d') == '2014-01-01']

# filter by single month
# df_filtered = df[df['date'].dt.strftime('%Y-%m') == '2014-01']

# filter by single year
# df_filtered = df[df['date'].dt.strftime('%Y') == '2014']

In [74]:
# df2[df2['Date'].dt.strftime('%m') == '01']
df2[df2['Date'].dt.strftime('%m') == '01']

             Country   Units Currency     Price              Food       Date
0        Afghanistan      KG      AFN   50.0000           Bread   2014-01-01
12       Afghanistan      KG      AFN   50.0000           Bread   2015-01-01
22       Afghanistan      KG      AFN   55.5000           Bread   2016-01-01
33       Afghanistan      KG      AFN   50.0000           Bread   2017-01-01
45       Afghanistan      KG      AFN   50.0000           Bread   2018-01-01
...              ...     ...      ...       ...               ...        ...
2050499     Zimbabwe      KG      ZWL  235.5555   Beans (sugar)   2021-01-01
2050506     Zimbabwe  100 ML      ZWL  103.3333      Toothpaste   2021-01-01
2050513     Zimbabwe      KG      ZWL  113.3333    Laundry soap   2021-01-01
2050520     Zimbabwe   250 G      ZWL   59.1667   Handwash soap   2021-01-01
2050526     Zimbabwe      KG      ZWL  933.3333  Fish (kapenta)   2021-01-01

[172090 rows x 6 columns]

In [83]:
df2["Quarter"] = df2["Date"].dt.quarter

In [101]:
AfghanBread = df2[(df2["Country"] == 'Afghanistan') & (df2['Food'].str.contains('Bread'))]
AfghanBread.head(50)

        Country Units Currency  Price     Food       Date  Quarter
0   Afghanistan    KG      AFN  50.00  Bread   2014-01-01        1
1   Afghanistan    KG      AFN  50.00  Bread   2014-02-01        1
2   Afghanistan    KG      AFN  50.00  Bread   2014-03-01        1
3   Afghanistan    KG      AFN  50.00  Bread   2014-04-01        2
4   Afghanistan    KG      AFN  50.00  Bread   2014-05-01        2
5   Afghanistan    KG      AFN  50.00  Bread   2014-06-01        2
6   Afghanistan    KG      AFN  50.00  Bread   2014-07-01        3
7   Afghanistan    KG      AFN  50.00  Bread   2014-08-01        3
8   Afghanistan    KG      AFN  50.00  Bread   2014-09-01        3
9   Afghanistan    KG      AFN  50.00  Bread   2014-10-01        4
10  Afghanistan    KG      AFN  50.00  Bread   2014-11-01        4
11  Afghanistan    KG      AFN  50.00  Bread   2014-12-01        4
12  Afghanistan    KG      AFN  50.00  Bread   2015-01-01        1
13  Afghanistan    KG      AFN  50.00  Bread   2015-02-01        1
14  Afghanistan    KG      AFN  50.00  Bread   2015-03-01        1
15  Afghanistan    KG      AFN  50.00  Bread   2015-06-01        2
16  Afghanistan    KG      AFN  50.00  Bread   2015-07-01        3
17  Afghanistan    KG      AFN  50.00  Bread   2015-08-01        3
18  Afghanistan    KG      AFN  50.00  Bread   2015-09-01        3
19  Afghanistan    KG      AFN  56.25  Bread   2015-10-01        4
20  Afghanistan    KG      AFN  65.25  Bread   2015-11-01        4
21  Afghanistan    KG      AFN  55.50  Bread   2015-12-01        4
22  Afghanistan    KG      AFN  55.50  Bread   2016-01-01        1
23  Afghanistan    KG      AFN  55.50  Bread   2016-03-01        1
24  Afghanistan    KG      AFN  50.00  Bread   2016-04-01        2
25  Afghanistan    KG      AFN  50.00  Bread   2016-05-01        2
26  Afghanistan    KG      AFN  50.00  Bread   2016-06-01        2
27  Afghanistan    KG      AFN  50.00  Bread   2016-07-01        3
28  Afghanistan    KG      AFN  50.00  Bread   2016-08-01        3
29  Afghanistan    KG      AFN  50.00  Bread   2016-09-01        3
30  Afghanistan    KG      AFN  50.00  Bread   2016-10-01        4
31  Afghanistan    KG      AFN  50.00  Bread   2016-11-01        4
32  Afghanistan    KG      AFN  50.00  Bread   2016-12-01        4
33  Afghanistan    KG      AFN  50.00  Bread   2017-01-01        1
34  Afghanistan    KG      AFN  50.00  Bread   2017-02-01        1
35  Afghanistan    KG      AFN  50.00  Bread   2017-03-01        1
36  Afghanistan    KG      AFN  50.00  Bread   2017-04-01        2
37  Afghanistan    KG      AFN  50.00  Bread   2017-05-01        2
38  Afghanistan    KG      AFN  50.00  Bread   2017-06-01        2
39  Afghanistan    KG      AFN  50.00  Bread   2017-07-01        3
40  Afghanistan    KG      AFN  50.00  Bread   2017-08-01        3
41  Afghanistan    KG      AFN  50.00  Bread   2017-09-01        3
42  Afghanistan    KG      AFN  50.00  Bread   2017-10-01        4
43  Afghanistan    KG      AFN  50.00  Bread   2017-11-01        4
44  Afghanistan    KG      AFN  50.00  Bread   2017-12-01        4
45  Afghanistan    KG      AFN  50.00  Bread   2018-01-01        1
46  Afghanistan    KG      AFN  50.00  Bread   2018-02-01        1
47  Afghanistan    KG      AFN  50.00  Bread   2018-03-01        1
48  Afghanistan    KG      AFN  50.00  Bread   2018-04-01        2
49  Afghanistan    KG      AFN  50.00  Bread   2018-05-01        2

In [104]:
AfghanBread.to_csv('Afbr', sep='\t')

In [108]:
AFBR = AfghanBread.sort_values(by='Date', ascending=True)

In [112]:
AFBR.to_excel('Afbr2.xlsx')

In [114]:
AFBR.head(60)

           Country Units Currency  Price     Food       Date  Quarter
10511  Afghanistan    KG      AFN  14.86  Bread   2000-01-01        1
7777   Afghanistan    KG      AFN  16.25  Bread   2000-01-01        1
4585   Afghanistan    KG      AFN  15.63  Bread   2000-01-01        1
6288   Afghanistan    KG      AFN  14.26  Bread   2000-01-01        1
7778   Afghanistan    KG      AFN  15.42  Bread   2000-02-01        1
6289   Afghanistan    KG      AFN  13.49  Bread   2000-02-01        1
10512  Afghanistan    KG      AFN  16.66  Bread   2000-02-01        1
4586   Afghanistan    KG      AFN  15.63  Bread   2000-02-01        1
7779   Afghanistan    KG      AFN  15.83  Bread   2000-03-01        1
4587   Afghanistan    KG      AFN  16.14  Bread   2000-03-01        1
6290   Afghanistan    KG      AFN  11.76  Bread   2000-03-01        1
10513  Afghanistan    KG      AFN  15.28  Bread   2000-03-01        1
7780   Afghanistan    KG      AFN  18.67  Bread   2000-04-01        2
10514  Afghanistan    KG      AFN  20.00  Bread   2000-04-01        2
6291   Afghanistan    KG      AFN  12.92  Bread   2000-04-01        2
4588   Afghanistan    KG      AFN  17.19  Bread   2000-04-01        2
4589   Afghanistan    KG      AFN  16.67  Bread   2000-05-01        2
10515  Afghanistan    KG      AFN  20.00  Bread   2000-05-01        2
6292   Afghanistan    KG      AFN  16.44  Bread   2000-05-01        2
7781   Afghanistan    KG      AFN  20.00  Bread   2000-05-01        2
6293   Afghanistan    KG      AFN  17.43  Bread   2000-06-01        2
7782   Afghanistan    KG      AFN  20.67  Bread   2000-06-01        2
4590   Afghanistan    KG      AFN  16.67  Bread   2000-06-01        2
10516  Afghanistan    KG      AFN  20.00  Bread   2000-06-01        2
6294   Afghanistan    KG      AFN  18.54  Bread   2000-07-01        3
10517  Afghanistan    KG      AFN  20.00  Bread   2000-07-01        3
7783   Afghanistan    KG      AFN  21.66  Bread   2000-07-01        3
4591   Afghanistan    KG      AFN  16.67  Bread   2000-07-01        3
7784   Afghanistan    KG      AFN  14.33  Bread   2000-08-01        3
4592   Afghanistan    KG      AFN  16.67  Bread   2000-08-01        3
6295   Afghanistan    KG      AFN  16.40  Bread   2000-08-01        3
10518  Afghanistan    KG      AFN  20.00  Bread   2000-08-01        3
10519  Afghanistan    KG      AFN  20.00  Bread   2000-09-01        3
6296   Afghanistan    KG      AFN  15.92  Bread   2000-09-01        3
4593   Afghanistan    KG      AFN  16.67  Bread   2000-09-01        3
7785   Afghanistan    KG      AFN  19.17  Bread   2000-09-01        3
7786   Afghanistan    KG      AFN  17.50  Bread   2000-10-01        4
4594   Afghanistan    KG      AFN  16.67  Bread   2000-10-01        4
10520  Afghanistan    KG      AFN  20.00  Bread   2000-10-01        4
6297   Afghanistan    KG      AFN  15.94  Bread   2000-10-01        4
4595   Afghanistan    KG      AFN  16.67  Bread   2000-11-01        4
6298   Afghanistan    KG      AFN  16.15  Bread   2000-11-01        4
10521  Afghanistan    KG      AFN  20.00  Bread   2000-11-01        4
7787   Afghanistan    KG      AFN  18.33  Bread   2000-11-01        4
10522  Afghanistan    KG      AFN  20.00  Bread   2000-12-01        4
6299   Afghanistan    KG      AFN  16.13  Bread   2000-12-01        4
4596   Afghanistan    KG      AFN  16.67  Bread   2000-12-01        4
7788   Afghanistan    KG      AFN  18.30  Bread   2000-12-01        4
6300   Afghanistan    KG      AFN  15.90  Bread   2001-01-01        1
10523  Afghanistan    KG      AFN  20.00  Bread   2001-01-01        1
7789   Afghanistan    KG      AFN  18.75  Bread   2001-01-01        1
4597   Afghanistan    KG      AFN  16.67  Bread   2001-01-01        1
10524  Afghanistan    KG      AFN  20.00  Bread   2001-02-01        1
6301   Afghanistan    KG      AFN  16.06  Bread   2001-02-01        1
4598   Afghanistan    KG      AFN  16.67  Bread   2001-02-01        1
7790   Afghanistan    KG      AFN  20.00  Bread   2001-02-01        1
4599   Afghanistan    KG      AFN  16.67  Bread   2001-03-01        1
6302   Afghanistan    KG      AFN  16.13  Bread   2001-03-01        1
10525  Afghanistan    KG      AFN  20.00  Bread   2001-03-01        1
7791   Afghanistan    KG      AFN  20.00  Bread   2001-03-01        1