# This project analyses and visualizes a Global Food Price Dataset
## Link to the dataset: https://www.kaggle.com/datasets/lasaljaywardena/global-food-prices-dataset?resource=download

In [45]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv("Data Science Projects\global_food_prices.csv", dtype = {'adm1_id': int,
                                                                          "adm0_id": int,
                                                                          "adm0_name": str, 
                                                                          "mkt_name": str, 
                                                                          "pt_id": int,
                                                                          "cm_name": str,
                                                                          "mp_price": float,
                                                                          "adm1_name": str                                                               
                                                                         })
df.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [46]:
df2 = df[["adm0_name", "cm_name", "um_name", "cur_name", "mp_month", "mp_year", "mp_price"]]

df2 = df2.rename(columns={"adm0_name": "Country", 
                   "cm_name": "Food Item", 
                   "um_name": "Units", 
                   "cur_name": "Currency", 
                   "mp_month": "Month", 
                   "mp_year": "Year",
                   "mp_price": "Price"
                  })

df2.head(50)

        Country       Food Item Units Currency  Month  Year  Price
0   Afghanistan  Bread - Retail    KG      AFN      1  2014  50.00
1   Afghanistan  Bread - Retail    KG      AFN      2  2014  50.00
2   Afghanistan  Bread - Retail    KG      AFN      3  2014  50.00
3   Afghanistan  Bread - Retail    KG      AFN      4  2014  50.00
4   Afghanistan  Bread - Retail    KG      AFN      5  2014  50.00
5   Afghanistan  Bread - Retail    KG      AFN      6  2014  50.00
6   Afghanistan  Bread - Retail    KG      AFN      7  2014  50.00
7   Afghanistan  Bread - Retail    KG      AFN      8  2014  50.00
8   Afghanistan  Bread - Retail    KG      AFN      9  2014  50.00
9   Afghanistan  Bread - Retail    KG      AFN     10  2014  50.00
10  Afghanistan  Bread - Retail    KG      AFN     11  2014  50.00
11  Afghanistan  Bread - Retail    KG      AFN     12  2014  50.00
12  Afghanistan  Bread - Retail    KG      AFN      1  2015  50.00
13  Afghanistan  Bread - Retail    KG      AFN      2  2015  50.00
14  Afghanistan  Bread - Retail    KG      AFN      3  2015  50.00
15  Afghanistan  Bread - Retail    KG      AFN      6  2015  50.00
16  Afghanistan  Bread - Retail    KG      AFN      7  2015  50.00
17  Afghanistan  Bread - Retail    KG      AFN      8  2015  50.00
18  Afghanistan  Bread - Retail    KG      AFN      9  2015  50.00
19  Afghanistan  Bread - Retail    KG      AFN     10  2015  56.25
20  Afghanistan  Bread - Retail    KG      AFN     11  2015  65.25
21  Afghanistan  Bread - Retail    KG      AFN     12  2015  55.50
22  Afghanistan  Bread - Retail    KG      AFN      1  2016  55.50
23  Afghanistan  Bread - Retail    KG      AFN      3  2016  55.50
24  Afghanistan  Bread - Retail    KG      AFN      4  2016  50.00
25  Afghanistan  Bread - Retail    KG      AFN      5  2016  50.00
26  Afghanistan  Bread - Retail    KG      AFN      6  2016  50.00
27  Afghanistan  Bread - Retail    KG      AFN      7  2016  50.00
28  Afghanistan  Bread - Retail    KG      AFN      8  2016  50.00
29  Afghanistan  Bread - Retail    KG      AFN      9  2016  50.00
30  Afghanistan  Bread - Retail    KG      AFN     10  2016  50.00
31  Afghanistan  Bread - Retail    KG      AFN     11  2016  50.00
32  Afghanistan  Bread - Retail    KG      AFN     12  2016  50.00
33  Afghanistan  Bread - Retail    KG      AFN      1  2017  50.00
34  Afghanistan  Bread - Retail    KG      AFN      2  2017  50.00
35  Afghanistan  Bread - Retail    KG      AFN      3  2017  50.00
36  Afghanistan  Bread - Retail    KG      AFN      4  2017  50.00
37  Afghanistan  Bread - Retail    KG      AFN      5  2017  50.00
38  Afghanistan  Bread - Retail    KG      AFN      6  2017  50.00
39  Afghanistan  Bread - Retail    KG      AFN      7  2017  50.00
40  Afghanistan  Bread - Retail    KG      AFN      8  2017  50.00
41  Afghanistan  Bread - Retail    KG      AFN      9  2017  50.00
42  Afghanistan  Bread - Retail    KG      AFN     10  2017  50.00
43  Afghanistan  Bread - Retail    KG      AFN     11  2017  50.00
44  Afghanistan  Bread - Retail    KG      AFN     12  2017  50.00
45  Afghanistan  Bread - Retail    KG      AFN      1  2018  50.00
46  Afghanistan  Bread - Retail    KG      AFN      2  2018  50.00
47  Afghanistan  Bread - Retail    KG      AFN      3  2018  50.00
48  Afghanistan  Bread - Retail    KG      AFN      4  2018  50.00
49  Afghanistan  Bread - Retail    KG      AFN      5  2018  50.00

In [50]:
df2['Food Item'] = df2['Food Item'].replace(['- Retail', '- Wholesale'], ' ')
df2.head()

       Country       Food Item Units Currency  Month  Year  Price
0  Afghanistan  Bread - Retail    KG      AFN      1  2014   50.0
1  Afghanistan  Bread - Retail    KG      AFN      2  2014   50.0
2  Afghanistan  Bread - Retail    KG      AFN      3  2014   50.0
3  Afghanistan  Bread - Retail    KG      AFN      4  2014   50.0
4  Afghanistan  Bread - Retail    KG      AFN      5  2014   50.0